<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>


    <session-factory name="dataSource">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://mysql.agh.edu.pl:3306/talaga1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.username">talaga1</property>
        <property name="hibernate.connection.password">ksC7wvAq</property>
        <property name="show_sql">true</property>
        <mapping class="baza.Kategorie"/>
        <mapping class="baza.Potrawy"/>
        <mapping class="baza.Skladniki"/>
        <mapping class="baza.Katalog"/>
        <mapping class="baza.Users"/>
        <mapping class="baza.Zamowienia"/>
        <mapping class="baza.ZawartoscZamowienia"/>
        <mapping class="model.Zamowienie"/>

        <!--<mapping class="main.java.model.SurveysEntity"/>-->
        <!--<mapping class="main.java.model.User"/>-->
        <!--DB schema will be updated if needed -->
        <!--<property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>